.navBar {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 2em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--salmon);
    position: sticky;
    line-height: 4.5em;
    background-color: #444444;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 3px 0;
    overflow: hidden;
}

.logo {
    width: 50%;
    height: 100%;
    letter-spacing: 8px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoName {
    position: absolute;
    z-index: 1;
    text-shadow: 4px 4px 15px rgba(6, 13, 21, 0.73);
    margin: 0 2em 0 0;
}

.rocket {
    margin: 0;
    font-size: 1.8em;
}

.navLinks {
    width: 30%;
    height: 100%;
    padding: 0 3em;
    font-size: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Overpass', sans-serif;
}

.counterContainer {
    height: 100%;
    width: auto;
    position: relative;
    overflow: visible;
}

.count {
    height: 20px;
    width: 20px;
    padding-top: 1px;
    margin-left: 50px;
    line-height: 20px;
    font-size: 0.5em;
    font-weight: normal;
    border-radius: 50%;
    background-color: var(--mulberry-crayola);
    color: #FFF;
    text-align: center;
    position: absolute;
    overflow: auto;
}

.navLinks a {
    color: inherit;
    text-decoration: none;
}

.navButton {
    background: var(--plump-purple);
    border: 1px solid #5344A9;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

button:hover,
button:active {
    background-color: #8e88ad;
    background-position: 0 0;
    color: var(--plump-purple);
}
